* {
    margin: 0;
    padding: 0;
    width: 500px;
    border: none;
    border-radius: 20px;
}

.header {
    height: 100px;
}

.header a.logo {
    display: relative;
}

.navbar a {
   text-decoration: none;
}